:root{
	--mainColor:#EF3D59;
	--secondaryColor:#da868d;

	--borderColor:#d11643;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(209, 22, 67, 0.8);
	--previewShadow:#d11643;


	--buttonColor:#881c2e;


}